$out-of-range-color: lighten(green, 40%);
$out-of-range-bg-color: lighten(green, 70%);

$calendar-border: $primary-blue-main;
$cell-border: $primary-blue-main;

$border-color: $primary-blue-main;

$time-selection-color: green;
$time-selection-bg-color: green;
$date-selection-bg-color: green;

$event-bg: green;
$event-border: darken(green, 10%);
$event-outline: green;
$event-color: #fff;
$event-border-radius: 5px;
$event-padding: 5px 10px;
$event-zindex: 4;

$btn-color: $primary-blue-main;
$btn-border: $primary-blue-main;

$current-time-color: $primary-blue-main;

$rbc-css-prefix: rbc-i;

$today-highlight-bg: #eaf6ff;
