$white: #ffffff;
$black: #000000;

$primary-main: #04263e;
$primary-light: #e3f2fd;
$primary-dark: #8f3004;

$secondary-main-light: #3c991f;
$secondary-light: #e3f2fd;
$secondary-main-dark: #0d3500;
$secondary-dark: #424649;
