$white: #ffffff;
$black: #000000;

$primary-main-light: #04263e;
$primary-light: #e3f2fd;
$primary-main-dark: #091c29;
$primary-dark: #021422;

$secondary-main-light: #3c991f;
$secondary-light: #68d3d3;
$secondary-main-dark: #0d3500;
$secondary-dark: #046d1f;
