@import "~bootstrap/scss/bootstrap";
@import "~react-toastify/dist/ReactToastify.css";

@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

@import "variables";

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

.app {
  min-height: 100vh;
  background-color: $primary-blue-light;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.15s;

  &:hover {
    transition: 0.15s;
    text-shadow: 0 0 2px $white;
    color: inherit;
  }
}
