@import "variables";

:export {
  lightprimarymain: $primary-main;
  lightprimary: $primary-light;
  lightsecondarymain: $secondary-main-light;
  lightsecondary: $secondary-light;
  darkprimarymain: $primary-main;
  darkprimary: $primary-dark;
  darksecondarymain: $secondary-main-dark;
  darksecondary: $secondary-dark;
}
