@import "variables";

:export {
  // Light
  lightprimarymain: $primary-main-light;
  lightprimary: $primary-light;
  lightsecondarymain: $secondary-main-light;
  lightsecondary: $secondary-light;
  // Dark
  darkprimarymain: $primary-main-dark;
  darkprimary: $primary-dark;
  darksecondarymain: $secondary-main-dark;
  darksecondary: $secondary-dark;
  // Other
  white: $white;
  black: $black;
}
