@import "variables";

:export {
  primaryBlueMain: $primary-blue-main;
  primaryBlueLight: $primary-blue-light;
  secondaryGreenMain: $secondary-green-main;
  secondaryGreenLight: $secondary-green-light;
}
