{
    "printWidth": 140,
    "tabWidth": 4,
    "trailingComma": "none",
    "editor.formatOnSave": true,
    "overrides": [
        {
            "files": ["*.css", "*.scss"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
