{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur Modulo!</h1>
    {% if is_granted(constant('App\\Enum\\StaticRole::ROLE_ADMIN').name) %}
        <a href="{{ path('admin') }}">Accéder à l'administration</a>
    {% endif %}
{% endblock %}
